<script>
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.staticImages = {
    splashBooks: '<%= asset_url("splash_image.png") %>',
    blankCover: '<%= asset_url("blank_cover.jpg") %>',
  }
</script>

<main id="root">
</main>
