.books-table {
  border-collapse: collapse;
  border-spacing: 5px;
  table-layout: fixed;
  width: 100%;
}

.books-table td {
  padding: 6px;
  min-width: 140px;
  text-align: center;
}

.book-row {
  font-size: 12px;
  border-bottom: 1px solid lightgrey;
}

.book-row:hover {
  background-color: lightgrey;
  transition: all 1s;
}

.books-headers th {
  border-bottom: 3px solid lightgrey;
  font-size: 14px;
}

.book-row img {
  max-height: 150px;
  width: auto;
  box-shadow: 3px 3px 3px lightgrey;
  transition: transform 1.5s, box-shadow 1s;
  transition-timing-function: ease-out;
}

.books-table img:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.modal-screen {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

div [id^='modal-'] {
  z-index: 999;
  position: fixed;
  top: 7%;
  background-color: #F9F7F4;
  width: 80%;
  left: 50%;
  margin-left: -42%;
  height: 80%;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  overflow: auto;
}

.book-modal-content {
  display: flex;
  justify-content: space-between;
}

.book-modal-image {
  width: auto;
  img {
    box-shadow: 3px 3px 6px grey;
  }
}

.book-modal-details {
  width: 50%;
  h2 {
    font-family: 'Roboto Mono', monospace
  }
}

.checkbox-container {
  display: block;
  font-size: 12px;
  min-width: 140px;
  position: relative;
}
.checkbox-container-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkbox-dropdown-clicker {
  border: 1px solid darkgrey;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 4px;
  border-right: none;
  padding: 6px 0px 6px 6px;
  background-color: #F9F7F4;
}

.checkbox-dropdown-clicker button {
  background-color: #009860;
  padding: 6px 9px;
  margin-right: -2px;
  border-radius: 0px 4px 4px 0px;
}

.checkbox-dropdown-clicker button:hover {
  background-color: #008250;
}

.checkbox-dropdown-clicker button:focus {
  outline: none;
}

div [class^='checkbox-container-dropdown-']{
  z-index: 998;
  top: 30%;
  left: -40px;
  width: 130%;
  max-width: 200px;
  background-color: #F9F7F4;
  position: absolute;
  padding: 0px 10px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.checkbox-reveal{
  visibility: visible;
  transform: translateY(2em);
  transition: all 0.3s;
}

.checkbox-hidden{
  visibility: collapse;
  opacity: 0;
  transition: all 0.3s;
}

.checkbox-item {
  display: flex;
  input {
    width: 10px;
    margin-right: 3px;
    cursor: pointer;
  }
  input:focus {
    outline: none;
  }
  p {
    margin: 0px 2px;
  }
}
