.books-table {
  border-collapse: collapse;
  border-spacing: 5px;
  table-layout: fixed;
  width: 100%;
}

.books-table td {
  padding: 10px;
}

.book-row {
  font-size: 12px;
  border-bottom: 1px solid lightgrey;
}

.books-headers th {
  border-bottom: 3px solid lightgrey;
  font-size: 14px;
}

.book-row img {
  max-height: 150px;
  width: auto;
  transition: transform 1.5s, box-shadow 1s;
  transition-timing-function: ease-out;
}

.books-table img:hover {
  box-shadow: 3px 3px 3px lightgrey;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.modal-screen {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

div [id^='modal-'] {
  z-index: 1000;
  position: absolute;
  background-color: #F9F7F4;
  width: 60%;
  height: 90%;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  overflow: auto;
}

.book-modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-modal-details {
  display: block;
}
