nav, footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px solid lightgrey;
  a {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto Mono', monospace;
  }
}

nav {
  height: 60px;
  background-color: lightgrey;
  border-bottom: 1px solid darkgrey;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  // background: linear-gradient(#F4F2E9, #F9F7F4);
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  border-top: 1px solid lightgrey;
  border-bottom: none;
  background: linear-gradient(#F4F2E9, #F9F7F4);
  ul {
    display: flex;
    align-items: center;
  }
}

.footer-links {
  margin: auto;
  min-width: 700px;
  :hover {
    background-color: #F9F7F4;
    cursor: pointer;
    color: #3B210B;
  }
}

.footer-links li {
  padding: 10px 100px;
}

.nav-links li {
  padding: 0px 20px;
}

#last-footer-link {
  border-right: none;
}
