html, body {
  margin: 0;
  padding: 0;
  background-color: #F9F7F4;
  text-decoration: none;
  color: inherit;
  font-family: 'PT Serif', serif;
}

body {
  margin: auto;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}

.main-content {
  padding: 5px 30px;
}

nav {
  background-color: #F4F2E9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  border-bottom: 1px solid lightgrey;
}

button {
  background-color: #3B210B;
  color: #F9F7F4;
  margin: 3px;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 4px;
}

button:hover{
  background-color: #5C3618;
  cursor: pointer;
}

input {
  margin: 2px;
  padding: 5px;
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

input:focus {
  outline: .5px solid #B5B7A9;
}
