html, body {
  margin: 0;
  padding: 0;
  background-color: #F9F7F4;
  text-decoration: none;
  color: inherit;
  font-family: 'PT Serif', serif;
  min-width: 700px;
}

body {
  margin: auto;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

li {
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #5C3618;
}

.app-container {
  margin: auto;
}

.main-content {
  padding: 0px 0px;
  min-width: 900px;
  max-width: 1100px;
  min-height: 200px;
  margin: auto;
  overflow: visible;
}

button {
  background-color: #3B210B;
  color: #F9F7F4;
  margin: 3px;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 4px;
  font-family: 'PT Serif', serif;
}

button:hover{
  background-color: #5C3618;
  cursor: pointer;
}

button:focus {
  outline: .5px solid #B5B7A9;
}

textarea:focus {
  outline: .5px solid #B5B7A9;
  border-radius: 4px;
}

input[type="text"] {
  margin: 2px;
  padding: 5px;
  width: 200px;
  border: 1px solid lightgrey;
}

input[type="text"]:focus {
  outline: .5px solid #B5B7A9;
}
