html, body {
  margin: 0;
  padding: 0;
  background-color: #F9F7F4;
  text-decoration: none;
  color: inherit;
  font-family: 'PT Serif', serif;
  min-width: 700px;
}

body {
  margin: auto;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

li {
  list-style: none;
}

.app-container {
  margin: auto;
}

.main-content {
  padding: 0px 0px;
  min-width: 900px;
  max-width: 1100px;
  min-height: 200px;
  margin: auto;
  overflow: visible;
}

.errors-display {
  display: flex;
  flex-direction: column;
}

.errors-display li {
  margin-left: auto;
  margin-right: 30px;
  color: red;
}



button {
  background-color: #3B210B;
  color: #F9F7F4;
  margin: 3px;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 4px;
}

button:hover{
  background-color: #5C3618;
  cursor: pointer;
}

input {
  margin: 2px;
  padding: 5px;
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

input:focus {
  outline: .5px solid #B5B7A9;
}
