
input[type="radio"] {
  display: hidden;
  -webkit-appearance: none;
  background-color: none;
  border: none;
  border-radius: none;
  margin: 0px;
}

.review-form textarea:disabled, input:disabled {
  background-color: lightgrey;
  color: grey;
}

.review-form-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

label[class^='rating-img'] {
  width: 24px;
  height: 24px;
  background-image: image_url('library_bw_24.png');
  background-size: cover;
}

label[class^='rating-img']:hover,
label[class^='rating-img']:hover ~ label[class^='rating-img'],
input[class^='rating-input']:checked ~ label[class^='rating-img'] {
  background-image: image_url('library_24.png');
}

.review-form-rating:hover label[class^='rating-img']:hover,
.review-form-rating:hover label[class^='rating-img']:hover ~ label[class^='rating-img'],
input[class^='rating-input']:checked ~ label[class^='rating-img'] {
  background-image: image_url('library_24.png');
}

label[class^='rating-img'],
.review-form-rating:hover label[class^='rating-img'] {
  background-image: image_url('library_bw_24.png');
}
