#book-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#book-search-bar {
  background-image: image_url('magnifying-glass.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
  width: 400px;
  margin: 10px;
  padding: 8px;
  padding-left: 30px;
  border-radius: 4px;
  font-family: 'Roboto Mono', monospace;
  position: relative;
}

#book-search-results {
  position: absolute;
  max-height: 400px;
  overflow: auto;
  top: 45px;
  width: 420px;
  margin: 2px;
  margin-left: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  img {
    height: 30px;
    width: auto;
  }
  li {
    a {
      display: flex;
      align-items: center;
    }
    p {
      margin-left: 10px;
    }
    border-bottom: 1px solid lightgrey;
  }
  li:last-child {
    border-bottom: none;
  }
}

.hidden-results {
  visibility: hidden;
}
