
.signup-form {
  margin-right: 50px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-form form {
  width: 200px;
}

.signup-form .signup-greeting {
  font-size: 40px;
}

.signup-form button {
  margin-left: 0;
  background-color: #FDD269;
  color: black;
  font-size: 18px;
}

.signup-form button:hover {
  background-color: #FFD676;
}

.login-form input {
  width: 130px;
}
