
.signup-form {
  width: 200px;
  margin-right: 50px;
  margin-left: auto;
}

.signup-form button {
  margin-left: 0;
  background-color: #FDD269;
  color: black;
  font-size: 18px;
}

.signup-form button:hover {
  background-color: #FFD676;
}
