.signup-form {
  min-width: 600px;
  height: 300px;
  padding: 60px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: image_url('splash_image.png') no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

.signup-form form {
  width: 200px;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid darkgrey;
  background-color: lightgrey;
  border-radius: 10px;
  margin-left: 30px;
}

.greet {
  font-size: 16px;
}

.signup-greeting {
  font-family: 'Roboto Mono', monospace;
}

.signup-form .signup-greeting {
  font-size: 40px;
  font-weight: bold;
  color: #3B210B;
  text-shadow: -1px 1px 6px #B5B7A9;
}

.signup-form button {
  margin-left: 0;
  background-color: #FDD269;
  color: black;
  font-size: 18px;
}

.signup-form button:hover {
  background-color: #FFD676;
}

.login-form input {
  width: 130px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
